@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #1B1834;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.container{
    width: clamp(15rem, 20rem, 23rem);
    height: clamp(15rem, 20rem, 23rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    background: rgb(255, 207, 49);
    padding-bottom: 10px;    
}

.item{
    width: clamp(10rem, 13rem, 15rem);
    height: clamp(13rem, 15rem, 18rem);
    position: relative;
}

.img img{
    width: 100%;
    background: blue;
    border-radius: 0.5rem;
    z-index: 2;
}

article{
    width: 100%;
    background: rgb(255, 233, 193);
    display: flex;
    flex-direction: column;
    text-align: start;
    z-index: 3;
    height: clamp(5.5rem, 6.5rem, 8rem);
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px -9px 31px -3px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px -9px 31px -3px rgba(0,0,0,0.18);
    box-shadow: 0px -9px 31px -3px rgba(0,0,0,0.18);
}

h2{
    margin-top: 0.3rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}

h3{
    margin-top: 0.3rem;
    font-family: 'Inter';
    font-size: 1.1rem;
    font-weight: 700;
    color: black;  
}

.text {
    margin-top: 0.3rem;
    font-family: 'Open Sans';
    font-size: 0.9rem;
    display: none;
    transition: opacity 2s ease;
    color: black;
}

button.btn-expand{
    background: none;
    border: none;
    font-family: 'Open Sans';
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: underline;

}


.end{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

.btn-expand{
    background: blue;
    width: fit-content;
    cursor: pointer;
}

